* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 110%;
  border-radius: 0;
}

#root {
  text-align: center;
}

.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.screen-row input {
  width: 400px;
  background-color: grey;
  border: 0;
  color: #222;
  padding: 10px;
  text-align: right;
}

input[type='button'] {
  width: 100px;
  background: rgb(235, 230, 230);
  border: 1px solid #222;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type='button']:active {
  background: rgb(120, 80, 80);
}
