:root {
  --screen-color: #858693;
  --dark: #000;
  --light: rgb(235, 230, 230);
  --bg-color: rgb(69, 62, 62);
  --operator-color: #eb8537;
  --border-color: rgb(74, 69, 69);
  --input-active: rgb(120, 80, 80);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rowBtn {
  width: 100%;
  display: grid;
}

.normal {
  grid-template-columns: repeat(4, 1fr);
}

.double {
  grid-template-columns: 2fr 1fr 1fr;
}

.screen-row span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--screen-color);
  color: rgb(247, 240, 240);
  padding: 10px;
  font-size: 1.75rem;
  height: 70px;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  align-items: center;
}

input[type='button'] {
  width: 100%;
  background-color: var(--light);
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex: 1;
  padding: 10px 20px;
  margin: 2px 4px;
  border-radius: 25px;
}

input[type='button']:active {
  background: var(--input-active);
}

input.btn-operator {
  background-color: var(--operator-color);
}
