:root {
  --screen-color: #858693;
  --dark: #000;
  --white: #fff;
  --operator-color: #eb8537;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#root {
  text-align: center;
}

.container {
  background-color: #fff;
  height: auto;
  margin: 40px;
  max-width: 480px;
  padding: 10px;
  width: 100%;
}

.rowBtn {
  width: 400px;
  display: grid;
}

.normal {
  grid-template-columns: repeat(4, 1fr);
}

.double {
  grid-template-columns: 2fr 1fr 1fr;
}

.screen-row input {
  max-width: 480px;
  background-color: var(--screen-color);
  border: 0;
  color: rgb(146, 143, 143);
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 2.28rem;
  height: 76px;
}

input[type='button'] {
  width: 100%;
  background: rgb(235, 230, 230);
  border: 1px solid rgb(218, 214, 214);
  color: var(--dark);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type='button']:active {
  background: rgb(120, 80, 80);
}

input.btn-operator {
  background-color: var(--operator-color);
}
